.torneo-card {
    border: 1px solid lightgray;
    border-radius: 9px;
    padding: 10px;
    box-shadow: 2px 2px 5px lightblue;
}

.torneo-card p {
    margin: 0px;
    margin-bottom: 2px;
}

.torneo-card a {
    display: inline-block;
    /* Para que se comporte como un botón */
    padding: 10px 15px;
    /* Espaciado interno */
    background-color: #0073aa;
    /* Azul */
    color: #fff;
    /* Texto blanco */
    text-decoration: none;
    /* Sin subrayado */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Transición suave */
}

.torneo-card a:hover {
    background-color: #005f8d;
    /* Azul más oscuro al hacer hover */
}

.torneo-card .wp-post-image {
    width: 100%;
    border-radius: 9px;
    object-fit: cover;
}